<!DOCTYPE html>
<header id="pageHead">
    <div class="inner">
        <div>
            <img src="images/図1.svg" height="80px" id="logo">
        </div>
        <div>
            <div class="headerTop">
                <a href="https://www.instagram.com/epigenome_lab/" target="_blank" class="instaLink">
                    <img src="images/Instagram_Glyph_Gradient.png" height="25px" class="instaIcon">
                </a>
                <div>JP</div>
                <div>EN</div>
            </div>
            <nav class="globalNavi">
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/research' | relative_url }}">Research</a></li>
                    <li><a href="{{ '/members' | relative_url }}">Members</a></li>
                    <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
                    <li><a href="{{ '/access' | relative_url }}">Access</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>